<%= render "shared/sign" %>
<h2>Here is a user and it recent posts</h2>
<div class="ee">
  <%= link_to 'Back', :back %>
  <div class="old">
    <%= render partial:"userdetail", locals: {each: @user} %>
  </div>
  <div class="bio">
    <h3>Bio</h3>
    <p> <%= @user.bio %></p>
  </div>
  <div>
    <% @user.recent_post.each do |post|%>
      <%= render partial:"posts/postdetails", locals: {user_id:post.user.id, post: post} %>
    <%end%>
  </div>
  <button>
    <%= link_to "see all post", user_posts_path(user_id: @user.id) %>
  </button>
   <button>
    <%= link_to "create new post ", new_user_post_path(user_id: @user.id) %>
  </button>
</div>
