<div class='post'>
<%= link_to user_post_path(user_id: user_id, id: post.id) do %>
  <h3>post #<%= post.id %></h3>
  <p><%= truncate(post.text, length: 100, separator: ' ', omission: '...') %><p>
  <p class="tes">comments: <%= post.comments.length %>; likes: <%= post.likes.length %><p>
<%end%>
</div>