<div class='poo'>
 <div class="fff">
  <div class="flex-f">
    <h3>post #<%= @post.id %> by <%= @post.user.name %></h3>
    <p>comments: <%=@post.comments.length%>; likes: <%=@post.likes.length%></p>
   </div>
  <p><%= @post.text %></p>
 </div> 
 <div class="fxf">
   <% @post.comments.each do |single|%>
      <p><%=single.user.name%>: <%= single.text%></p>
  <%end%>
  <div class="likes">
  <button><%= link_to "comment", new_post_comment_path(post_id: @post.id, user_id: @post.user.id) %></button>
  <%= button_to "like", post_likes_path(post_id: @post.id, user_id: @post.user.id), method: :post %>
  </div>
</div> 
</div>